<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>How Many Days Til</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="How Many Days Til">
    <meta name="author" content="Mike Williams"> 
    @Styles.Render("~/Content/css")
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)
</head>



<body>
    @Html.Partial("_Flash")

    <div class="navbar navbar-fixed-top hidden-desktop">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">How Many Days Til</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="#" onclick="$('html,body').animate({scrollTop: $('#upcoming-events').offset().top}, 1500);">Upcoming Events</a></li>
                        <li><a href="#" onclick="$('html,body').animate({scrollTop: $('#your-upcoming-events').offset().top}, 1500);">Your Upcoming Events</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
    <div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
           Please wait while your calendar is being imported
        </p>
    </div>
</div>
</body>
</html>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39333862-1']);
  _gaq.push(['_setDomainName', 'howmanydaystil.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>




